{
  "openapi": "3.1.0",
  "info": {
    "title": "MotoManager API",
    "version": "0.15.0",
    "description": "Compatibility contract shared by the web and iOS clients. Existing paths and fields are additive-only."
  },
  "servers": [{ "url": "https://moto-api.herrmann.ltd" }],
  "paths": {
    "/api/health": {
      "get": {
        "operationId": "health",
        "responses": {
          "200": {
            "description": "Service health",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HealthResponse" } } }
          }
        }
      }
    },
    "/api/auth/status": {
      "get": {
        "operationId": "authStatus",
        "responses": {
          "200": {
            "description": "Bootstrap status",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AuthStatusResponse" } } }
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "operationId": "login",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LoginRequest" } } }
        },
        "responses": {
          "200": {
            "description": "Authenticated session",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LoginResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/auth/register": {
      "post": {
        "operationId": "registerFirstUser",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RegisterRequest" } } }
        },
        "responses": {
          "201": {
            "description": "Initial administrator and authenticated session",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LoginResponse" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "409": { "$ref": "#/components/responses/Conflict" }
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "operationId": "currentUser",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Current user",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UserResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/motorcycles/{id}/previous-owners": {
      "parameters": [{ "$ref": "#/components/parameters/MotorcycleId" }],
      "get": {
        "operationId": "listPreviousOwners",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Previous owners in user-defined order",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PreviousOwnersResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "operationId": "createPreviousOwner",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreatePreviousOwnerRequest" } } }
        },
        "responses": {
          "201": {
            "description": "Previous owner appended to the ownership chain",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PreviousOwnerResponse" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/motorcycles/{id}/previous-owners/order": {
      "parameters": [{ "$ref": "#/components/parameters/MotorcycleId" }],
      "put": {
        "operationId": "reorderPreviousOwners",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ReorderPreviousOwnersRequest" } } }
        },
        "responses": {
          "200": {
            "description": "Persisted previous-owner order",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PreviousOwnersResponse" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/motorcycles/{id}/previous-owners/{ownerId}": {
      "parameters": [
        { "$ref": "#/components/parameters/MotorcycleId" },
        {
          "name": "ownerId",
          "in": "path",
          "required": true,
          "schema": { "type": "integer" }
        }
      ],
      "put": {
        "operationId": "updatePreviousOwner",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdatePreviousOwnerRequest" } } }
        },
        "responses": {
          "200": {
            "description": "Updated previous owner",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PreviousOwnerResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "delete": {
        "operationId": "deletePreviousOwner",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "Previous owner deleted" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer" }
    },
    "parameters": {
      "MotorcycleId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "integer" }
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "required": ["status", "version"],
        "properties": {
          "status": { "type": "string", "const": "ok" },
          "version": { "type": "string" }
        },
        "additionalProperties": true
      },
      "AuthStatusResponse": {
        "type": "object",
        "required": ["userCount"],
        "properties": { "userCount": { "type": "integer", "minimum": 0 } },
        "additionalProperties": true
      },
      "LoginRequest": {
        "type": "object",
        "required": ["identifier", "password"],
        "properties": {
          "identifier": { "type": "string", "minLength": 1 },
          "password": { "type": "string", "minLength": 1 }
        },
        "additionalProperties": false
      },
      "RegisterRequest": {
        "type": "object",
        "required": ["name", "email", "username", "password", "confirmPassword"],
        "properties": {
          "name": { "type": "string", "minLength": 2 },
          "email": { "type": "string", "format": "email" },
          "username": { "type": "string", "minLength": 3, "maxLength": 32 },
          "password": { "type": "string", "minLength": 8 },
          "confirmPassword": { "type": "string", "minLength": 8 }
        },
        "additionalProperties": false
      },
      "PublicUser": {
        "type": "object",
        "required": ["id", "email", "username", "name", "role", "createdAt", "updatedAt"],
        "properties": {
          "id": { "type": "integer" },
          "email": { "type": "string" },
          "username": { "type": "string" },
          "name": { "type": "string" },
          "role": { "type": "string", "enum": ["admin", "user"] },
          "createdAt": { "type": "string" },
          "updatedAt": { "type": "string" },
          "lastLoginAt": { "type": ["string", "null"] }
        },
        "additionalProperties": true
      },
      "UserResponse": {
        "type": "object",
        "required": ["user"],
        "properties": { "user": { "$ref": "#/components/schemas/PublicUser" } },
        "additionalProperties": true
      },
      "LoginResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/UserResponse" },
          {
            "type": "object",
            "required": ["token"],
            "properties": { "token": { "type": "string", "minLength": 1 } }
          }
        ]
      },
      "PreviousOwner": {
        "type": "object",
        "required": [
          "id", "motorcycleId", "name", "surname", "purchaseDate", "sortOrder",
          "address", "city", "postcode", "country", "phoneNumber", "email",
          "comments", "createdAt", "updatedAt"
        ],
        "properties": {
          "id": { "type": "integer" },
          "motorcycleId": { "type": "integer" },
          "name": { "type": "string" },
          "surname": { "type": "string" },
          "purchaseDate": { "type": ["string", "null"] },
          "sortOrder": { "type": "integer", "minimum": 0 },
          "address": { "type": ["string", "null"] },
          "city": { "type": ["string", "null"] },
          "postcode": { "type": ["string", "null"] },
          "country": { "type": ["string", "null"] },
          "phoneNumber": { "type": ["string", "null"] },
          "email": { "type": ["string", "null"] },
          "comments": { "type": ["string", "null"] },
          "createdAt": { "type": "string" },
          "updatedAt": { "type": "string" }
        },
        "additionalProperties": true
      },
      "CreatePreviousOwnerRequest": {
        "type": "object",
        "required": ["name", "surname"],
        "properties": {
          "name": { "type": "string", "minLength": 1 },
          "surname": { "type": "string", "minLength": 1 },
          "purchaseDate": { "type": ["string", "null"] },
          "address": { "type": ["string", "null"] },
          "city": { "type": ["string", "null"] },
          "postcode": { "type": ["string", "null"] },
          "country": { "type": ["string", "null"] },
          "phoneNumber": { "type": ["string", "null"] },
          "email": { "type": ["string", "null"] },
          "comments": { "type": ["string", "null"] }
        }
      },
      "UpdatePreviousOwnerRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "minLength": 1 },
          "surname": { "type": "string", "minLength": 1 },
          "purchaseDate": { "type": ["string", "null"] },
          "address": { "type": ["string", "null"] },
          "city": { "type": ["string", "null"] },
          "postcode": { "type": ["string", "null"] },
          "country": { "type": ["string", "null"] },
          "phoneNumber": { "type": ["string", "null"] },
          "email": { "type": ["string", "null"] },
          "comments": { "type": ["string", "null"] }
        }
      },
      "ReorderPreviousOwnersRequest": {
        "type": "object",
        "required": ["ownerIds"],
        "properties": {
          "ownerIds": {
            "type": "array",
            "items": { "type": "integer" },
            "uniqueItems": true
          }
        },
        "additionalProperties": false
      },
      "PreviousOwnerResponse": {
        "type": "object",
        "required": ["previousOwner"],
        "properties": { "previousOwner": { "$ref": "#/components/schemas/PreviousOwner" } },
        "additionalProperties": true
      },
      "PreviousOwnersResponse": {
        "type": "object",
        "required": ["previousOwners"],
        "properties": {
          "previousOwners": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PreviousOwner" }
          }
        },
        "additionalProperties": true
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["error"],
        "properties": { "error": { "type": "string" } },
        "additionalProperties": false
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "Unauthorized": {
        "description": "Authentication required or invalid",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "Forbidden": {
        "description": "Operation not allowed",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "Conflict": {
        "description": "Resource conflict",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "RateLimited": {
        "description": "Too many attempts",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      }
    }
  }
}
